// Ширина и высота линии в иконке
$lineWidth: 40px;
$lineHeight: 5px;

// Размеры контейнера
$width: $lineWidth;
$height: $lineHeight * 5;

.mobile-nav {
    display: none;

    /* Tablet-small */
    @media (max-width: 899px) {
        display: flex;
        justify-content: space-between;
    }
}

.mobile-nav__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px; 
    }

.nav-icon {
    width: $width;
    height: 25px;

    display: flex;
	justify-content: center;
	align-items: center;

    cursor: pointer;
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: #000;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: $lineWidth;
        height: $lineHeight;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        background-color: rgb(0, 0, 0);
    }

    &::before {
        top: -($lineHeight*2);
    }

    &::after {
        top: $lineHeight*2;
    }
}

/* Active state */

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
